* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #303030;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
}

.head {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 5%;
  background-color: #303030;
}

.Logo {
  width: 18%;
  height: auto;
  margin-top: -0.2vh;
  margin-left: 1vw;;
}

header {
  height: 45px;
  margin: 0;
}

#nav {
  position: absolute;
  left: 44%;
  font-family: "Baskerville";
  font-size: 0.7vw;
  color: white;
  line-height: 40px;
}

#nav h1{
  display: inline-block;
  padding-right: 3vw;
  padding-bottom: 0;
  font-weight: 100;
  vertical-align: top;
}

.last {
  padding-right: 9.0vw !important;
}

a {
  color: white;
  text-decoration: none;
}

#title {
  font-size: 1vw;
  font-family: "Monserrat";
  position: absolute;
  left: 24%;
  margin-top: -2.7%;
}

h1:hover {
  text-decoration: underline;
}

#title h1:hover {
  text-decoration: none !important;
}

.line {
  height: 3.5vh;
  width: 0.2vw;
  background-color: white;
  position: absolute;
  left: 21.5%;
  top: 18%;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: -1%;
}

.side {
  flex: 30%;
  background-color: #828282;
}

.main {
  flex: 70%;
  background-color: #303030;
}

.side div {margin-left: 1vw;}

.side-images img {
  padding-top: 0%;
  width: 26.2vw;
  margin-top: 5%;
  position: relative;
  left: -1.2%;
  border: 4px solid #f08f4a;
  border-radius: 20px;
}

.side-images {
  text-align: center;
  font-weight: bold;
  font-size: 1.3vw !important;
  color: #303030;
}

.fact {
  width: 26.4vw;
  text-align: justify;
  color: white;
  background-color: #4f4f4f;
  border: 2px solid white;
  position: relative;
  left: 0.5vw;
  margin-top: 5%;
  border-radius: 20px;
}

.fact p {
  padding: 15px;
  font-size: 1.5vw;
  font-family: "Baskerville";
  margin-top: -1.8vh;
}

.fact h2 {
  padding-left: 15px;
  font-size: 1.5vw;
  font-family: "Baskerville";
  margin-top: 1vh;
  color: #f08f4a
}

.image {
  width: 100%;
  margin-top: -0.7vh;
  background-image: url(Images/2010.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;
}

.banner-img {
  width: 100%;
  opacity: 0;
}

.image h1 {
  color: #0000ff;
  font-family: "2010";
  font-size: 9vw;
  position: absolute;
  left: 5%;
  top: 78%;
  text-decoration: none;
  -webkit-text-stroke: 0.1px #ffff00;
  text-shadow: 0 0 5px #ffff00;
}

.banner-text {
  position: absolute;
  right: 0;
  top: 12%;
  background-color: #c49102;
  width: 20%;
  font-size: 2.1vw;
  padding-left: 24px;
  padding-right: 16px;
  padding-top: 22px;
  padding-bottom: 20px;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  font-family: "2010";
  color: #ffff00;
  border: 5px solid #0000ff;
  border-right: none;
  -webkit-text-stroke: 0.5px #000;
  text-shadow: 0 0 10px #0000ff;
}

@font-face {
  font-family: "2010";
  src: url(Fonts/OmegleRegular-owopB.ttf);
}

.container {
  width: 90%;
  color: white;
  font-size: 1.5vw;
  font-family: "Baskerville";
  line-height: 30px;
  margin-left: 3vw;
  padding-bottom: 6%;
  padding-top: 10px;
}

.subtitle {
  font-weight: bold;
}

.players {
  position: relative;
  left: 2%;
  font-family: "Baskerville";
  font-size: 1.4vw;
  border: 4px solid #f08f4a;
  width: 85%;
  list-style-position: inside;
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #fffdd1;
  border-radius: 20px;
  margin-top: 3vh;
}

.feats {
  position: relative;
  left: 2%;
  font-family: "Baskerville";
  font-size: 1.4vw;
  border: 4px solid #f08f4a;
  width: 81.4%;
  padding-left: 2vw;
  margin-top: 5%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #fffdd1;
  border-radius: 20px;
  list-style-position: outside;
  line-height: 25px;
}

button {
  position: absolute;
  top: 382%;
  right: 3.1%;
  color: white;
  background-color: transparent;
  font-size: 1.2vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-bottom: 0.8vh;
  padding-top: 0.6vh;
  background-color: #4f4f4f;
  opacity: 0.6;
  border: 1px solid white;
}

button:hover {
  border: 1px dashed white;
  background-color: #f08f4a;
  color: #303030;
  cursor: pointer;
}

.next {
  display: flex;
  width: 100%;
  height: 8%;
  position: relative;
  font-family: monospace;
  overflow: hidden;
  color: #fff;
  -webkit-text-stroke: 2px #000;
  background-image: url(Images/backtostart.jpg);
  background-attachment: fixed;
  background-position: 0 -10vh;
  background-size: 100% 100%;
}

.next h1 {
  position: absolute;
  top: -8%;
  left: 5%;
  font-size: 4.5vw;
  text-decoration: none;
  letter-spacing: 1.5vw;
}

.next h3 {
  position: absolute;
  left: 89%;
  top: 3%;
  font-size: 4vw;
}

input, label, .dropdown {display: none}





@media screen and (max-width: 600px) {

  body {
    overflow-x: hidden;
    position: absolute;
    min-height: 900px;
  }

  .Logo {
    width: 50%;
    height: auto;
    margin-top: 1vh;
    margin-left: 1vw;
    white-space: nowrap;
  }

  #nav, #title, button, .line, .banner-text, .next {display: none}

  input, ul.dropdown {
    display: none;
    z-index: 2;
    list-style-type: none;
  }

  label {
    position: absolute;
    top: -1vh;
    left: 86%;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 11vw;
  }

  input:checked~ul.dropdown {
    display: block;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    padding-left: 47%;
    z-index: 3;
  }

  ul.dropdown h1 {
    background-color: rgb(0, 0, 0, 0.8);
    padding-right: 5%;
  }

  .image, .banner-img {
    background-image: none;
    opacity: 1;
  }

  .image h1 {
    font-size: 12vw;
    left: 3%;
  }

  .flexbox-container {
    flex-direction: column-reverse;
  }

  .container {
    width: 91%;
    color: white;
    font-size: 3.3vw;
    font-family: "Baskerville";
    line-height: 20px;
    position: relative;
    left: 2%;
    margin-top: -1%;
  }

  .side div {
    font-size: 5vw;
    position: relative;
    margin-top: 4%;
    padding-left: 5vw;
  }

  .players, .feats {
    position: relative;
    left: 3%;
    border: 4px solid #f08f4a;
  }

  .feats {
    padding-left: 7vw !important;
  }

  .fact p, .fact h2 {
    font-size: 4vw;
  }

  .fact {
    width: 88%;
    padding: 0 !important;
    left: 4vw;
  }

  .side-images img {
    width: 100%;
    margin-top: 0;
  }

  .side-images {
    font-size: 5vw !important;
    width: 88%;
  }

}
