* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #303030;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin-left: 0;
}

body {
  height: 100vh;
  width: 100%;
}

.Logo {
  width: 18%;
  height: auto;
  margin-top: -0.2vh;
  margin-left: 1vw;;
}

#carousel-frame {
  overflow: hidden;
  height: 95%;
  width: 100%;
  margin-top: -0.7vh;
}

@keyframes carousel-animation {
  0% {left: 0%;}
  20% {left: 0%;}
  25% {left: -100%;}
  45% {left: -100%;}
  50% {left: -200%;}
  70% {left: -200%;}
  75% {left: -300%;}
  95% {left: -300%;}
  100% {left: 0%;}
}

figure {
  width: 400%;
  position: relative;
  margin: 0;
  left: 0;
  animation: 35s carousel-animation infinite;
}

figure img {
  width: 25%;
  float: left;
}

header {
  height: 45px;
  margin: 0;
}

#nav {
  position: absolute;
  left: 30%;
  font-family: "Baskerville";
  font-size: 0.7vw;
  color: white;
  vertical-align: top;
  line-height: 40px;
  white-space: nowrap;
}

#nav h1{
  display: inline;
  padding-right: 3vw;
  padding-bottom: 0;
  font-weight: 100;
}

.last {
  padding-right: 20% !important;
}

a {
  color: white;
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

.button {
  border: 10px;
  border-color: white;
  color: white;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  left: 44%;
  top: 50%;
  width: 10vw;
  height: 5vh;
  border-radius: 20px;
}

.button p {
  font-size: 1.7vw;
  font-weight: bold;
  text-align: center;
  margin-top: 3%;
  font-family: "Baskerville";
  opacity: 1;
}

.button:hover {
  text-decoration: none;
  opacity: 0.9;
  cursor: pointer;
}

.box {
  width: 46.5vw;
  height: 4vh;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 44.8%;
  left: 26.2%;
  white-space: nowrap;
  border-radius: 20px;
}

.text1 {
  color: white;
  font-size: 1.8vw;
  font-family: "Baskerville";
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 26.6%;
}

#About .title {
  position: absolute;
  left: 8%;
  top: 109%;
  text-align: center;
  font-size: 4vw;
  font-family: monospace;
  color: white;
  font-weight: bold;
}

#About p {
  position: absolute;
  left: 0%;
  text-align: justify;
  font-size: 2vw;
  font-family: "Times New Roman";
  color: white;
  font-weight: normal;
}

.text2 {
  position: relative;
  left: 8%;
  position: absolute;
  top: 118%;
  width: 44%;
  line-height: 50px;
  padding-bottom: 20px;
}

hr {
  margin-top: 3%;
  border: dotted #7d7d7d;
}

.about-image {
  position: absolute;
  left: 57%;
  top: 116%;
  width: 40%;
  padding-bottom: 80px;
}

input, label, .dropdown {display: none}










@media screen and (max-width: 600px) {

  body {
    overflow-x: hidden;
    position: absolute;
    scroll-behavior: smooth;
    min-height: 900px;
}

  #carousel-frame {
    overflow: hidden;
    height: 94%;
    width: 200%;
    margin-top: 0.5vh;
  }

  figure {
    width: 400%;
    position: relative;
    margin: 0;
    left: 0;
    margin-left: -25%;
    animation: 35s carousel-animation infinite;
  }

  figure img {
    width: 25%;
    float: left;
  }

  .button {
    border: 10px;
    border-color: white;
    color: white;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    left: 40%;
    top: 32%;
    width: 20vw;
    height: 35px;
    border-radius: 20px;
  }

  .button p {
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
    font-family: "Baskerville";
    opacity: 1;
  }

  .button:hover {
    text-decoration: none;
    opacity: 0.9;
    cursor: pointer;
  }

  .box {
    width: 95vw;
    height: 65px;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 24.5%;
    left: 0%;
    white-space: nowrap;
    border-radius: 20px;
  }

  .text1 {
    color: white;
    font-size: 6vw;
    font-family: "Baskerville";
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: -1%;
    text-align: center;
  }

  .Logo {
    width: 50%;
    height: auto;
    margin-top: 1vh;
    margin-left: 1vw;
    white-space: nowrap;
  }

  #nav {display: none}

  input, ul.dropdown {
    display: none;
    z-index: 2;
    list-style-type: none;
  }

  label {
    position: absolute;
    top: -1%;
    left: 86%;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 13vw;
  }

  input:checked~ul.dropdown {
    display: block;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    padding-left: 47%;
  }

  ul.dropdown h1 {
    background-color: rgb(0, 0, 0, 0.8);
    padding-right: 5%;
  }

  #About .title {
    position: absolute;
    left: 8%;
    top: 61%;
    text-align: center;
    font-size: 10vw;
    font-family: monospace;
    color: white;
    font-weight: bold;
  }

  .text2 {
    position: absolute;
    left: 8%;
    top: 67%;
    width: 85%;
    line-height: 30px;
    padding-bottom: 20px;
  }

  #About p {
    text-align: left;
    font-size: 5vw;
    font-family: "Times New Roman";
    color: white;
    font-weight: normal;
 }

  hr {
    margin-top: -89%;
    border: 5px dotted #7d7d7d;
  }

  .about-image {
    position: absolute;
    left: 8%;
    top: 106%;
    width: 84%;
    padding-bottom: 25px;
  }

}
